<div class="container">
  <center>
   <h5><div class = "bg-light mt-4 col-2 mx-6">
    編集</div></h5>
    </center>
    <div class="row">
    <div class="mt-5 col-12  mx-6">
 <%= form_with model: @expense, url: expense_path, local:true do |f| %>

<div class ="row">
    <label for="id" class="col-sm-4 mb-4 text-right">出費</label>
    <div class="col-sm-8">
   ¥<%= f.text_field :expense, autofocus:true, id:"inputExpense",placeholder:"Expense" %></div>
  </div>


  <div class ="row">
    <label for="id" class="col-sm-4 mb-4 text-right">写真</label>
      <div class="mx-3">
       <div class="item_image_btn">
   <%= f.attachment_field :image, id: "file" %></div>
   <div id="img_field" onClick="$('#file').click()" >
    画像選択
    </div>
  </div>
  </div>

  <div class ="row">
    <label for="id" class="col-sm-4 mb-4 text-right">備考</label>
    <div class="col-sm-8">
   <%= f.text_area :memo, autofocus:true, id:"inputMemo", placeholder:"メモ" %>
   </div>
    </div>

    <div class ="row mt-3">
    <label for="id" class="col-sm-4 mb-4 text-right"></label>
    <div class="col-sm-8">
   <%= f.submit "変更を保存", class: "btn btn-outline-success" %></div>
  </div>
  </div>

 <% end %>