
<%= link_to "new", new_expense_path %>

<p><%= @today.strftime("< %m / %Y >") %></p>
<table>
  <tr>
    <% t('date.day_names').each do |day_name| %>
      <td>
        <%= day_name %>
      </td>
    <% end %>
  </tr>
  <% @calendar_data.each do |date| %>

      <% if expense = Expense.where(date: date).empty? %>
        <% if date.wday == 0 %>
          <tr>
        <% end %>
        <td>
          <%= date.day %>

        </td>
        <% if date.wday == 6 %>
        </tr>
        <% end %>　　　　　<%#空白表示 %>

      <% else %>
        <% if Expense.expense_image(date) %>
            <% if date.wday == 0 %>
              <tr>
            <% end %>
            <td>
              <%= date.day %>

              <%= link_to expense_path(Expense.find_by(date: date).id) do %>
              <%= attachment_image_tag Expense.find_by(date: date), :image, :fill, 50, 50 %>
              <% end %>
              <%#= link_to "show", expense_path(expense.id) %>

            </td>
            <% if date.wday == 6 %>
            </tr>
            <% end %>


        <% else %>
            <% if date.wday == 0 %>
              <tr>
            <% end %>
            <td>
              <%= date.day %>

              <%= link_to expense_path(Expense.find_by(date: date).id) do %>
            　¥<%= expense = Expense.where(date: date).sum(:expense) %>
            　<% end %>
              <%#= link_to "show", expense_path(expense.id) %>

            </td>
            <% if date.wday == 6 %>
            </tr>
            <% end %>
        <% end %>
      <% end %>
  <% end %>
</table>

