<div class="container">
  <div class="row">
   <h5><div class = "bg-light mt-4 col-12 md-6">
       メモ詳細</div></h5>
   </div>

    <center>

        <%= @expense.date.strftime(" %Y年%-m月%-d日 ") %>のメモ
    </center>
 <center>


    <% @expenses.each do |expense| %>

      <div class="card w-50 mx-auto mt-4 shadow-lg">
      <div class="card-body">


        <%= attachment_image_tag expense, :image, :fill, 300, 300, format: 'jpeg', fallback: "" %>

        <div class="col">
            <h5>¥<%= expense.expense %></h5>
            <p><%= expense.memo %></p>
            <div id ="likes_buttons_<%= expense.id %>" >
                <%= render 'favorites/like', expense: expense %>
            </div>
            <div class="mt-3">
            <%= link_to "編集", edit_expense_path(expense), class: "btn btn-outline-secondary" %>

            <%= link_to "削除", expense_path(expense.id), method: :delete, class: "btn btn-outline-secondary" %></div>



        </div>
       </div>
       </div>
    <% end %>

    </div>
</center>



