<center>
    <%= @expense.date %>のmemo
<table>
<% @expenses.each do |expense| %>


<tr>
<td>


<%= attachment_image_tag expense, :image, :fill, 300, 300, format: 'jpeg', fallback: "" %>

<p>¥<%= expense.expense %></p>
<p><%= expense.memo %></p>


<%= link_to "編集", edit_expense_path(expense) %>

<%= link_to "削除", expense_path(expense.id), method: :delete %>
</td>
</tr>
<% end %>
</table>
</center>


