<!DOCTYPE html>
<html>
  <head>
    <title>Mymemo</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <script src="https://kit.fontawesome.com/b805f4612c.js" crossorigin="anonymous"></script>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>


  <body>
    <header class ="border-bottom">

     <% if user_signed_in? %>

        <%#= link_to "ログアウト", destroy_user_session_path, method: :delete %>
        <%#= link_to "レポート", aggregates_path %>
        <%#= link_to "出金リスト", expenses_list_path %>
        <%#= link_to "アルバム", expenses_album_path %>
        <%#= link_to "お気に入り", expenses_favorite_expenses_path %>
        <%#= link_to "お問い合わせ", inquiries_new_path %>
        <%#= link_to "マイページ", user_my_page_path(current_user) %>
        <div class="m-2">
        <%= link_to "TOP", expenses_path, class: 'btn btn-success' %></div>
        <div id="sp-menu">

            <ul>
              <li><%= link_to "ログアウト", destroy_user_session_path, method: :delete %></li>
              <li><%= link_to "レポート", aggregates_path %></li>
              <li><%= link_to "出金リスト", expenses_list_path %></li>
              <li><%= link_to "アルバム", expenses_album_path %></li>
              <li><%= link_to "お気に入り", expenses_favorite_expenses_path %></li>
              <li><%= link_to "お問い合わせ", inquiries_new_path %></li>
              <li><%= link_to "設定", user_my_page_path(current_user) %></li>
            </ul>

        </div>
         <div id="hm-icon">
          <a class="menu-trigger" href="#">
            <span></span>
            <span></span>
            <span></span>
          </a>
        </div>

        <div class="m-2">
        <%= form_with url: search_expenses_path, method: :get, local: true do |form| %>
          <%= form.text_field :search %>
          <%= form.submit :search  %>
        <% end %>
        </div>
      </ul>
    <% else %>
      <ul>
        <%= link_to "新規登録", new_user_registration_path %>
      </ul>
      <ul>
        <%= link_to "ログイン", new_user_session_path %>
      </ul>
    <% end %>
  </header>

    <%= yield %>


  </body>


</html>
